/* styles.css */
/* datepicker-style.css */

/* Top Navigation Bar */

/* AddForm */
VBox {
    -fx-spacing: 10;
}

Label {
    -fx-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Choose a sans-serif font */
    -fx-font-size: 18px; /* Increase the font size */
    -fx-text-fill: #333333; /* Dark Gray text color */
}

TextField {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-max-width: 250px;
    -fx-background-color: #f2f2f2; /* Light Gray */
    -fx-border-radius: 5;
    -fx-padding: 8;
    -fx-border-color: #e0e0e0; /* Lighter Gray Border */
}

.button {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-background-color: #4d4d4d; /* Medium Gray */
    -fx-text-fill: #ffffff;
    -fx-padding: 8 15;
    -fx-border-radius: 5;
    -fx-cursor: hand;
    -fx-transition: all 0.3s;
}

/* Hover effect for buttons */
.button:hover {
    -fx-background-color: #666666; /* Darker Gray on Hover */
}

.greenbtn {
    -fx-background-color: #0db556; /* Modified Green */
}

.greenbtn:hover {
    -fx-background-color: #256f0a; /* Darker Green on Hover */
}

.redbtn {
    -fx-background-color: #d43131; /* Modified Red */
}

.redbtn:hover {
    -fx-background-color: #a21309; /* Darker Red on Hover */
}

/* Styling for DatePicker */
.date-picker .arrow-button {
    -fx-background-color: #f2f2f2; /* Light Gray */
}

.date-picker .button {
    -fx-background-color: #f2f2f2; /* Light Gray */
}

.date-picker .arrow-button {
    -fx-background-color: #f2f2f2; /* Light Gray */
}

.date-picker {
    -fx-max-width: 250px;
}

.date-picker .date-cell {
    -fx-max-width: 150px;
    -fx-max-height: 50px;
}

.date-picker .popup-content {
    -fx-pref-width: 250px;
}

.date-picker .month-year-pane {
    -fx-max-height: 30px; /* Set the max height for the month-year pane */
    -fx-background-color: #f2f2f2; /* Light Gray */
}

.date-picker .picker-control {
    -fx-width: 150px;
    -fx-height: 150px; /* Set the max height for the picker control */
}
