/* styles.css */

/* Top Navigation Bar */
HBox {
    -fx-background-color: #3498db; /* Set background color */
    -fx-padding: 10; /* Add padding */
    -fx-alignment: center; /* Center align items */
    -fx-font-family: "Arial"; /* Set font family */
    -fx-font-size: 18px; /* Set font size */
    -fx-text-fill: #ffffff; /* Set text color */
}

/* AddForm */
VBox {
    -fx-spacing: 20; /* Set spacing between children */
}

Label {
    -fx-font-family: "Arial"; /* Set font family for labels */
    -fx-font-size: 25px; /* Set font size for labels */
}

TextField {
    -fx-font-family: "Arial"; /* Set font family for text fields */
    -fx-font-size: 14px; /* Set font size for text fields */
    -fx-max-width: 250px; /* Set preferred width for text fields */
}

Button {
    -fx-font-family: "Arial"; /* Set font family for buttons */
    -fx-font-size: 14px; /* Set font size for buttons */
    -fx-background-color: #3498db; /* Set default background color for buttons */
    -fx-text-fill: #ffffff; /* Set default text color for buttons */
    -fx-padding: 8 15; /* Add padding for buttons */
    -fx-border-radius: 5; /* Set border radius for buttons */
    -fx-cursor: hand; /* Set cursor on hover */
    -fx-transition: all 0.3s; /* Add transition effect */
}

/* Hover effect for buttons */
Button:hover {
    -fx-background-color: #2980b9; /* Change background color on hover */
}
