.nav-bar {
    -fx-background-color: #111111;
    -fx-padding: 10;
}

.list-view {
    -fx-background-color: transparent;
    -fx-vgrow: ALWAYS;
}

.list-view .list-cell {
    -fx-padding: 10;
    -fx-background-color: #333333;
    -fx-border-radius: 5;
    -fx-text-fill: white;
}

.list-view .list-cell:hover {
    -fx-background-color: #999999;
}

.nav-bar > * {
    -fx-vgrow: ALWAYS;
}

.list-view .scroll-bar {
    -fx-background: #333333;
}

.list-view .scroll-bar .thumb {
    -fx-background: #333333;
}
