/* styles.css */

.root {
    -fx-background-size: cover;
    -fx-background-image: url('../resources/bgimage.jpg');
}

VBox {
    -fx-background-color: #ffffff; /* Set VBox background color */
    -fx-border-color: #dcdcdc; /* Set border color */
    -fx-border-width: 1; /* Set border width */
    -fx-padding: 20; /* Set padding */
    -fx-alignment: CENTER; /* Center the VBox within its parent */
    -fx-max-width: 300; /* Set max width */
    -fx-max-height: 350; /* Set max height */
    -fx-background-radius: 10;
    -fx-border-width: 0; /* Set to 0 to remove default border */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0, 0, 0); /* Add a subtle box shadow */
}

Text {
    -fx-font-family: 'Arial';
    -fx-font-size: 12pt; /* Increase font size for better readability */
    -fx-font-weight: bold;
    -fx-fill: #333333; /* Dark Gray text color */
}

ImageView {
    -fx-max-width: 200; /* Set max width for the logo */
    -fx-max-height: 100; /* Set max height for the logo */
}

TextField, PasswordField, Button {
    -fx-font-size: 14; /* Set font size for text fields and button */
    -fx-max-width: 250; /* Set max width for text fields and button */
    -fx-background-radius: 5; /* Add border-radius for a modern look */
}

Button {
    -fx-background-color: #4CAF50; /* Green background color */
    -fx-text-fill: #ffffff; /* White text color */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0, 0, 0); /* Add a subtle box shadow */
}

Button:hover {
    -fx-background-color: #45a049; /* Darker Green on hover */
}
