/* EnseignantsForm.css */

/* Style for the Label */
.label-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333; /* Set text color */
    -fx-padding: 10px; /* Add padding */
}

/* Style for the top bar HBox */
.top-bar {
    -fx-background-color: #ffffff; /* Set background color to blue */
    -fx-spacing: 10px; /* Set spacing between children */
    -fx-padding: 10px; /* Add padding */
}

/* Style for the Buttons in the top bar */
.top-bar .button {
    -fx-background-color: #2980b9; /* Set background color to a darker blue */
    -fx-text-fill: #ffffff; /* Set text color to white */
    -fx-font-size: 14px;
    -fx-border-radius: 8px; /* Set border radius for a rounded appearance */
    -fx-padding: 5px 10px; /* Add padding */
}

/* Adjust the margin between the Label and the top bar */
.top-bar {
    -fx-background-color: #ffffff; /* Set background color to blue */
    -fx-spacing: 10px; /* Set spacing between children */
    -fx-padding: 10px; /* Add padding */
    -fx-alignment: CENTER_RIGHT; /* Align the children to the right */
    -fx-border-radius: 20px;
}