/* EnseignantsForm.css */

/* Style for the Label */
.label-title {
    -fx-font-size: 24px; /* Increase font size */
    -fx-font-weight: bold;
    -fx-text-fill: #666666; /* Dark Gray text color */
    -fx-padding: 10px; /* Add padding */
}

/* Style for the top bar HBox */
.top-bar {
    -fx-background-color: #f2f2f2; /* Light Gray background color */
    -fx-spacing: 10px; /* Set spacing between children */
    -fx-padding: 10px; /* Add padding */
    -fx-alignment: CENTER_RIGHT; /* Align the children to the right */
    -fx-border-radius: 20px;
}

/* Style for the Buttons in the top bar */
.top-bar .button {
    -fx-background-color: #4d4d4d; /* Medium Gray background color */
    -fx-text-fill: #ffffff; /* White text color */
    -fx-font-size: 14px;
    -fx-border-radius: 8px; /* Set border radius for a rounded appearance */
    -fx-padding: 8px 16px; /* Adjust padding */
}

.top-bar .button:hover {
    -fx-background-color: #666666; /* Darker Gray on hover */
}
